/*================ base css start here ===================*/

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
/*	font-family: 'Open Sans', sans-serif;
	font-family: 'Satisfy', cursive;*/
}
a{
	text-decoration: none;
	color: #333;
}

ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
/*================ base css end here ===================*/


/*================ common css start here ===================*/
.satisfy-p{
	font-size: 26px;
	color: #7bbbdd;
	font-family: 'Satisfy', cursive;
	font-weight: 400;
	text-align: center;
	margin: 0;
}
.width{
	width: 90%;
	margin: auto !important;
}

.d-flex{
	display: flex;
}
.color-white{
	color: #fff;

}

/*================ common css end here ===================*/


/*================ header start here ===================*/
/*====main header start here=====*/
.float-right{
	float: right;
}
.main-header{
	background-color: rgba(255, 255, 255,.6);
	height: 80px;
	line-height: 80px;
	position: fixed;
	top: 0px;
	width: 100%;
}

.logo{
	width: 33.33%;
}
.logo img{
	width: 100%;
	margin-top: 5px;
}
.menu{
	width: 33.33%;
}

.menu-ul li{
	padding-left: 37px;
}
.menu-ul li:nth-child(1){
	padding-left: 0;
}
.menu-ul li a{
	font-size: 12px;
	font-weight: 700;
	color: #333;
	letter-spacing: .5px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	line-height: 16px;
}
.menu-ul li a:hover{
	color: #7BBBDD;
}
.menu-ul img{
	width: 17px;
}
.header-icon{
	width: 15%;
}
.header-icon img{
	width: 80%;
    margin-top: 15px;
}
.bg-img{
	background-image: url("../img/header/banner1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	height: 700px;
	width: 100%px;
	margin-top: 0;
}

.li-home a{
	padding-bottom: 26px;
	border-bottom: 3px solid #468AE7;

}
.menu-width{
	width: 70%;
	margin: auto;
}
/*==== main header end here =====*/

/*==== main banner start here =====*/

.banner-wid{
	width: 36%;
	position: absolute;
	top: 200px;
	left: 10%;
}
.bg-content h2{
	font-size: 100px;
	color: #ededed;
	margin: 0;
	font-family: 'Satisfy', cursive;
}

.bg-content h3{
	font-size: 58px;
	font-weight: 700;
	color: #333333;
	margin: 0 0 10px 0;
	margin-top: -73px;
	line-height: 58px;
}
.bg-content h4{
	font-size: 58px;
	font-weight: 300;
	color: #333333;
	margin: 0 0 7px 0;
	line-height: 58px;
}
.bg-content h4 span{
	font-size: 58px;
	color: #7bbbdd;
	font-family: 'Satisfy', cursive;
}
.bg-content p{
	font-size: 16px;
	font-weight: 400;
	color: #777777;
	margin: 0;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif
}
.buttonb{
	background-color: #7bbbdd;
	border: none;
	padding: 17px 21px;
	font-size: 14px;
	line-height: 12px;
	font-weight: 700;
	color: #fff;
	margin-top: 24px;
}
.bg-content button:hover{
	background-color: #649EFF;
}
.bg-content .watch{
	background-color: transparent;
	border: 1px solid rgb(219 219 219);
	color: #333;
	margin-left: 15px;
	transition-duration: 1s;
}
.bg-content .watch:hover{
	background-color: rgb(219 219 219);
	border: 1px solid rgb(219 219 219);
}
/*==== main banner end here=====*/
/*================ main header end here ===================*/
/*================ middle section start here ===================*/
/*================ section1 start here ===================*/
.sec1{
	padding: 60px 0 45px 0;
}
.card{
	width: 33.33%;
	margin: auto;
}
.card-bg{
	background-image: url("../img/section1/sec1-img1.jpg");
	width: 90%;
	height: 250px;
	background-size: cover;
	background-position: center center;
	margin: auto;
}
.card-bg:hover{
	background-image: url("../img/section1/sec1-img1h.jpg");
	

}
.card-content{
	width: 75%;
	background-color: #fff;
	margin: auto;
	padding: 10px 5px 15px 5px;
	box-shadow: 0px 0px 2px #cfcfcf;
	margin-top: -30px;
}
.card-content:hover{
	box-shadow: 0px 0px 10px #cfcfcf;
}
.card-content h2{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: #242424;
	line-height: 22px;
}
.card-content p{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	color: #777777;
	line-height: 22px;
}
.card-content h5{
	margin: auto;
	font-size: 13px;
	font-weight: 600;
	color: #333;
	line-height: 18px;
	border-bottom: 2px solid #7bbbdd;
	width: 76px;
	padding-bottom: 2px;
}
.card-bg2{
	background-image: url("../img/section1/sec1-img2.jpg");
}

.card-bg2:hover{
	background-image: url("../img/section1/sec1-img2h.jpg");
}
.card-bg3{
	background-image: url("../img/section1/sec1-img3.jpg");
}

.card-bg3:hover{
	background-image: url("../img/section1/sec1-img3h.jpg");
}
hr{
    height:1px;
    border-width:0;
    background-color:#ebebeb;
}
/*================ section1 end here ===================*/
/*================ skincare section start here ===================*/
.skin-box{
	width: 23%;
}
.skin-text h2{
	font-size: 36px;
	font-weight: 400;
	color: #333333;
	margin: 0;
	line-height: 58px;
	text-align: center;
}
.skin-text h3{
	font-size: 36px;
	font-weight: 300;
	color: #333333;
	margin: 0;
	line-height: 58px;
	text-align: center;
}
.skin-text{
	margin-top: 60px;
}
.skin-text p{
	font-size: 15px;
	font-weight: 400;
	color: #777;
	margin: 10px 0 0 0;
	line-height: 25px;
	text-align: center;
}
.skin-text h5{
	font-size: 13px;
	font-weight: 600;
	color: #333;
	margin: 0;
	line-height: 18px;
	text-align: center;
	width: 137px;
	border-bottom: 2px solid #7bbbdd;
	padding: 25px 0 2px 0;
	margin: auto;
}
.skin-product-img{
	background-image: url("../img/skincare/skin-product1.webp");
	width: 100%;
	height: 322px;
	background-size: cover;
}
.skin-product-img2{
	background-image: url("../img/skincare/skin-product2.webp");
}
.skin-product-img3{
	background-image: url("../img/skincare/skin-product3.webp");
}
.pro-inner-p{
	background-color: #7bbbdd;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	margin: 0;
	text-align: center;
	padding: 10px;
	position: relative;
	top: 290px;
	display: none;
}
.skin-care{
	margin: 55px 0 50px 0;
}
.skin-product{
	margin-left: 2%;
}
.skin-text{
	margin-right: 2%;
}
.prop1{
	font-size: 14px;
	font-weight: 700;
	color: #333;
	text-align: center;
}
.prop2{
	font-size: 14px;
	font-weight: 400;
	color: #9e9e9e;
	text-align: center;
}
.prop3{
	font-size: 15px;
	font-weight: 600;
	color: #7bbbdd;
	text-align: center;
}
.pro-con p{
	margin-bottom: -7px;
}

/*p hover*/
.skin-product:hover .pro-inner-p{
	display: block;
}
/*================ skincare section end here ===================*/

/*================section3 srart here================*/
.cat-img{
	background-image: url("../img/catrgory/cate-img1.webp");
	width: 23%;
	height: 530px;
	background-size: cover;
	margin: auto;

}
.cat-sec4{
	width: 23%;
	margin-left: 1%;
}
.cat-250{
	width: 100%;
	height: 251px;
}
.cat-img5{
	margin-top: 28px;
}
.cat-h2{
	width: 100%;
	height: 530px;
	background-color: rgba(0, 0, 0, .1);
}
.cat-250 .cat-h2{
	width: 100%;
	height: 251px;
	background-color: rgba(0, 0, 0, .1);
}
.cat-img .cat-h2 h2{
	margin-top: 0;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    letter-spacing: .5px;
    position: relative;
    top: 260px;
    left: 100px;
    margin-right:  34px;
}
.p-h2{
	font-size: 16px !important;
	font-weight: 400;
	display: none;
}
.cat-250 .cat-h2 h2{
    position: relative;
    top: 130px;
    left: 100px;
}


.cat-img:hover .p-h2{
	display: block;
}
.cat-img .cat-h2:hover{
	background-color: rgba(0, 0, 0, .4);
	height: 530px;
}
.cat-250 .cat-h2:hover{
	background-color: rgba(0, 0, 0, .4);
	height: 251px;
}

.cat-img2{
	background-image: url("../img/catrgory/cate-img2.webp");
}
.cat-img3{
	background-image: url("../img/catrgory/cate-img3.webp");
}
.cat-img4{
	background-image: url("../img/catrgory/cate-img4.webp");
}
.cat-img5{
	background-image: url("../img/catrgory/cate-img5.webp");
}
/*================section3 end here================*/
/*=================== face mask section start here ===================*/
 .mask-img1{
	background-image: url("../img/mask/mask-img1.webp");
}
.mask-img2{
	background-image: url("../img/mask/mask-img2.webp");
}
.mask-img3{
	background-image: url("../img/mask/mask-img3.webp");
}
/*=================== face mask section start here ===================*/
/*================ Discover section start here ===================*/
.discover{
	background-color: #F8F8F8;
}
.dis-content{
	margin-top: 160px;
}
.dis-wid{
	width: 50%;
	height: 535px;
}
.dis-wid img{
	width: 100%;
	height: 100%;
}
.dis-content h3{
	margin: 0;
	font-size: 46px;
	font-weight: 600;
}
.dis-content h4{
	font-size: 46px;
	font-weight: 300;
}
.dis-content h4 span{
	font-size: 46px;
	font-weight: 300;
}
.dis-content p{
	font-size: 15px;
	font-weight: 400;
}
/*================ Discover section end here ===================*/
/*================ quaity section start here ===================*/
.quality{
	margin-bottom: 45px;
}
.qua-img-wid img{
	float: right;
}
.qua-img-wid{
	width: 50%;
	margin-top: 60px;
}  
.qua-content h3{
	text-align: center;
}
.qua-content h4{
	text-align: center;
}
.qua-content h4 span{
}
.qua-content p{
	text-align: center;
	width: 514px;
	padding-bottom: 23px;
	margin: auto;
}
.qua-btn{
	width: 268px;
	margin: auto;
	padding-top: 8px;
}
.lorem{
	font-weight: 600;
	color: #242424;
}
.count{
	width: 75px;
	border: 1px solid #ebebeb;
	padding: 10px 0;
}
.count h6{
	margin: 0;
	text-align: center;
}
.count .tm-num{
	font-size: 26px;
	color: #333;
}
.time-width{
	width: 52%;
	margin: auto;
}
.day{
	margin-left: 3px;
}
.days{
	margin-left: 0;
}
/*================ quality section end here ===================*/
/*=================== INGREDIENTS section start here ===================*/
 .organ-sec{
 	margin: 55px 0 30px 0;
 }
 .organ-sec h2{
	font-size: 36px;
	color: #242424;
	font-weight: 600;
	text-align: center;
	margin: 0;
	padding-top: 10px;
}
.organ-sec .organ-p{
	font-size: 16px;
	color: #777;
	font-weight: 400;
	text-align: center;
	padding-top: 10px;
	margin: auto;
	width: 477px;
	line-height: 26px;
}
 
/*=================== INGREDIENTS section end here =================== */
/*=================== organnic product section start here ===================*/
.organ-prod-sec{
	margin-bottom: 40px;
}
.organ-box{
	width: 30%;
	margin: auto;
}
.organ-box img{
	width: 89.50%;
	margin: auto;
}
.org-content{
	width: 89.50%;
	margin: auto;
	margin-left: 0;
	margin-top: -5px;
}
 .org-content h2{
	font-size: 74px;
	font-weight: 700;
	color: #7bbbdd;
	margin: 0;
	line-height: 74px;
	padding-right: 20px;
 }
 .org-content h3{
	font-size: 18px;
	font-weight: 600;
	color: #242424;
	margin: 0;
	line-height: 23px;
 }
 .org-content p{
	font-size: 14px;
	font-weight: 400;
	color: #777777;
	margin: 0;
	line-height: 22px;
	padding: 10px 0 20px 0;
 }
/*=================== organnic product section end here =================== */
/*================ blog section start here ===================*/
.blog-sec{
	padding-bottom: 70px;
}
.single-blog{
	width: 31.50%;
	margin: auto;
	box-shadow: 0px 0px 4px #cfcfcf;
}
.single-blog:hover{
	box-shadow: 0px 0px 10px #cfcfcf;
}
.blog-sec-img{
	background-image: url("../img/blog-sec/blog-sec-img1.webp");
	width: 100%;
	height: 273px;
	background-size: cover;

}
.blog-sec-h2{
	height: 273px;
}
.blog-sec-img .blog-sec-h2 .las-img span{
    font-size: 78px;
    color: #fff;
    font-weight: 400;
    padding-left: 10px;
    /letter-spacing: .5px;
    position: relative;
    top: 90px;
    left: 152px;
}

.las-img{
	display: none;
}
.single-blog:hover .blog-sec-h2{
	background-color: rgba(0, 0, 0, .5);
}
.single-blog:hover .las-img{
	display: block;
}
.hover-blog .blog-sec-h2:hover{
	background-color: rgba(0, 0, 0, .5);
	height: 273px;
}
.blog-sec-img2{
	background-image: url("../img/blog-sec/blog-sec-img2.jpg");
}
.blog-sec-img3{
	background-image: url("../img/blog-sec/blog-sec-img3.jpg");
}
.blog-cont{
	padding: 0 20px;
}
.titp{
	font-size: 12px;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-align: center;
	margin-top: -13px;
	margin-left: auto;
	margin-right: auto;
	line-height: 25px;
	background-color: #7BBBDD;
	text-transform: uppercase;
	letter-spacing: .3px;
	width: 200px;
}
.blog-cont h2{
	font-size: 24px;
	color: rgb(51, 51, 51);
	font-weight: 700;
	text-align: center;
	line-height: 34px;
	margin: 0;
}
.blog-cont .blog-text{
	font-size: 14px;
	color: #777777;
	font-weight: 400;
	text-align: center;
	line-height: 22px;
}
.blog-cont .continue{
	font-size: 13px;
	color: #7bbbdd;
	font-weight: 800;
	text-align: center;
	line-height: 13px;
	text-transform: uppercase;
	padding: 10px 0 12px 0;
}
/*================ blog section end here ===================*/
/*================ last section start here ===================*/

.sec5-img{
	background-image: url("../img/last/las-img1.jpg");
	width: 16.66%;
	height: 225px;
	background-size: cover;

}
.sec5-h2{
	height: 225px;
}
.sec5-img .sec5-h2 img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 190px;
    left: 8px;
}
.las-img2{
	padding-left: 50px;
}
.sec5-img .sec5-h2 .las-img span{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    padding-left: 10px;
    /letter-spacing: .5px;
    position: relative;
    top: 186px;
}

.las-img{
	display: none;
}
.sec5-img:hover .las-img{
	display: block;
}
.sec5-img .sec5-h2:hover{
	background-color: rgba(0, 0, 0, .5);
	height: 225px;
}

.sec5-img2{
	background-image: url("../img/last/las-img2.jpg");
}
.sec5-img3{
	background-image: url("../img/last/las-img3.jpg");
}
.sec5-img4{
	background-image: url("../img/last/las-img4.jpg");
}
.sec5-img5{
	background-image: url("../img/last/las-img5.jpg");
}
.sec5-img6{
	background-image: url("../img/last/las-img6.jpg");
}
/*================ last section end here ===================*/
/*================ middle section end here ===================*/




/*============================= single product page start here ================================================*/
/*================ single product page start here ===================*/
.width80{
	width: 80%;
	margin: auto;
}
.width60{
	width: 75%;
}
.width20{
	width: 20%;
	margin-left: 5%;
}

.blog-header{
	background-color: rgb(255,255,255);
}

/*=============== breadcumb start here=============*/
.bread-comb{
	padding: 120px 0 0 0;
	color: #333;
	font-size: 13px;
	font-weight: 600;
	margin: auto;
	width: 26%;
}
.breadp{
	margin: 0;
	padding-left: 6px;
}
.bread-comb ul li{
	padding-left: 5px;
	text-align: center;
}
.bread-comb ul li a{
	color: #8e8e8e;
	font-size: 13px;
	font-weight: 400;
}
.bread-comb ul li:nth-child(1){
	padding-left: 0;
}
.bread-comb ul li:after{
	content: "/";
	color: #8e8e8e;
	padding-left: 6px;
}


/*=============== breadcumb start here=============*/

/*===================*/
.pro-page{
	margin-top: 45px;
}
.prod-tham-img{
	background-image: url("../img/skincare/skin-product2.webp");
	background-size: cover;
	width: 100%;
	height: 370px;
}
.prod-img{
	width: 44%;
}
.prod-img img{
	width: 67%;
	/*margin: auto;*/
	margin-left: 16px;
	margin-top: 16px;
	border: 1px solid #e3e0e0;
}
.img-bor{
}
img.prod-img1{
	margin-left: 0;
}
.pro-art{
	width: 60%;
	margin-left: 5%;
}
.breadp a{
	color: #242424 !important;
}
/*===================*/
.pro-art .prod-tit, .pro-art .pro-price{
	font-size: 24px;
	font-weight: 400;
	color: #333;
	margin: 0;
}
.pro-art .pro-price{
	font-weight: 600;
}
.pro-art .status{
	font-size: 14px;
	font-weight: 400;
	color: #333;
	/*margin: 0;*/
}
.pro-art .status span{
	font-weight: 900;
	color: #7bbbdd;
}
.pro-art ul li{
	font-weight: 400;
	color: #777;
	font-size: 14px;
	letter-spacing: .5px;
	line-height: 24px;
}
.pro-art ul li:before{
	content: ".";
	font-size: 50px;
	line-height: 0px;
	padding-right: 5px;
	margin-top: -2px;
}

.variable-prod .color-border{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #b6b2b2;
	margin-right: 5px;
}

.variable-prod .color{
	border: none;
	background-color: #44B750;
	transform: scale(0.7);
}
.variable-prod .color2{
	background-color: #EDC9C9;
}
.variable-prod .color3{
	background-color: #E41EBE;
}
.buy-now-btn{
	width: 100%;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	background-color: #7bbbdd;
	border: none;
	padding: 10px 0;
	margin-top: 25px;
	/*text-align: center;*/
}
.prod-color button{
	width: 198px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background-color: #515151;
	border: none;
	height: 32px;
	margin-left: 20px;
    margin-top: 16px;
}
.quan-box p{
	margin: 0;
}
.quantity{
	border: 1px solid #a7a7a7;
	padding: 7px;
	margin-top: 5px;
}
.quan-box{
	margin-top: -5px;
	margin-left: 20px;
}
.quantity p{
	width: 30px;
	margin: auto;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #777;
}
.quantity .qua-num{
	color: #333;
}
.quanp{
	font-size: 12px;
	font-weight: 400;
	color: #777;
}
.color-margin{
	margin-top: 16px;
}
/*.quantity .minus{
	width: 30px;
	margin: auto;
	text-align: center;
	font-size: 20px;
}*/
/*================ single product page end here ===================*/
/*================ product description start here ===================*/

/*.breadp{
	margin: 0;
	padding-left: 6px;
}*/
.des ul li{
	padding-left: 60px;
	text-align: center;
}
.des ul li a{
	color: #8e8e8e;
	font-size: 19px;
	font-weight: 400;
	padding-bottom: 10px;
}
.des ul li:nth-child(1){
	padding-left: 0;
}
.des ul li:nth-child(1) a{
	border-bottom: 3px solid #7BBBDD;
	color: #333;
}
.des ul li a:hover{
	border-bottom: 3px solid #7BBBDD;
	color: #333;
}
.des{
	border-bottom: 1px solid #cecece;
	margin-bottom: 60px;
	margin-top: 70px;
	padding-bottom: 12px;
}
.prod-des{
	margin-top: 30px;
}
.prod-des h2{
	color: #333;
	font-size: 15px;
	font-weight: 600;
	line-height: 26px;
}
.prod-des p{
	color: #777;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}
.prod-des2{
	margin-top: 40px;
	margin-bottom: 60px;
}
.rel-sec{
	margin-top: 40px;
}
/*================ product page product end here ===================*/

.skin-product{
	margin-left: 0% !important;
}
.skin-product{
	margin-right: 2% !important;
}
.rela-h2{
	color: #242424;
	font-size: 22px;
	font-weight: 600;
	line-height: 31px;
	padding: 10px 0;
}
.rela-h2 span{
	border-bottom: 2px solid #7BBBDD;
}
/*============================= single product page end here ================================================*/
/*============================= sidebar start here ================================================*/
.side-bor{
	border: 1px solid #dcdada;
}
.side-ti{
	color: #242424;
	font-size: 20px;
	font-weight: 600;
	background-color: #F4F4F4;
	margin: 0;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #dcdada;
}
.side-box{
	width: 85%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid #cecece;*/
}
.side-box-inside{
	width: 85%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}
.side-box-inside img{
	width: 100%
}
.side-box-inside h2{
	color: #7bbbdd;
	font-size: 14px;
	font-weight: 900;
	margin: 0;
	padding-top: 10px;
}
.side-box-inside h3{
	color: #333;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding-top: 10px;
}
.side-box1{
	margin-top: 30px;
}
.side-box3{
	margin-bottom: 40px;
}
.side-box:hover{
	border: 1px solid #cecece;
}
.side-ads{
	width: 100%;
	margin-bottom: 20px;
}
/*============================= sidebar page end here ================================================*/



/*=====================================================
							footer start here 
============================================================*/

.footer{
	background-color: #333;
	padding: 60px 0 30px 0;
	/*margin-top: 60px;*/
}
.footer-prod{
	margin-top: 60px !important;
}

.f-width{
	width: 25%;
	padding-right: 40px;
}
.f-width .foot-logo{
	width: 80%;
}
.f-img1{
	width: 140px;
	/*margin-right: 25px;*/
}
.f-img2{
	width: 60px;
}
.footer-left p{
	font-size: 14px;
	font-weight: 400;
	color: #aaa;
}
.fmimg{
	width: 80px;
	height: 80px;
	margin-right: 13px;
	margin-bottom: 13px;
	background-color: rgba(0, 0, 0, .45) ;
}
.footer-middle{
	/*margin: auto;*/
}
.fotitle{
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	margin: 0 0 20px 0;
	letter-spacing: 1.5px;
}
.news-tittle{
	font-size: 19px;
}
.footer-right p{
	font-size: 14px;
	font-weight: 400;
	color: #aaa;
	margin: 0 0 20px 0;
	margin-bottom: 10px;
}
.footer-right img{
	margin-top: 20px;
}

.footer-bottom{
	background-color: #181818;
	padding: 30px 0;
}
.footer-bottom p{
	font-size: 14px;
	font-weight: 400;
	color: #aaa;
	text-align: center;
	letter-spacing: 1px;
}
.fbox{
	width: 294px !important;
}
/*=====================================================
							footer end here 
============================================================*/


.news-butt input{
	font-size: 15px;
	font-weight: 400;
	width: 150px;
	color: #757575;
	padding: 18px;
	/*border-radius: 30px;*/
	background-color: #525252;
	border: none;
}
.sce6-btn{
	background-color: #7bbbdd;
	border-color: #7bbbdd;
	color: #fff;
}